<h2>Les Congés d'un employé</h2>

<table class="conges-table">
  <thead>
    <tr>
      <th>Employé</th>
      <th>Date Début</th>
      <th>Date Fin</th>
      <th>Nombre de jours</th>
      <th>Type</th>
      <th>Statut</th>
      <th>Date de demande</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of conges">
      <td>{{ c.employeId }}</td>
      <td>{{ c.dateDebut | date:'dd/MM/yyyy HH:mm'  }}</td>
      <td>{{ c.dateFin | date:'dd/MM/yyyy HH:mm'}}</td>
      <td>{{ c.nombreJours }}</td>
      <td>{{ c.type }}</td>
      <td>{{ c.statut }}</td>
      <td>{{ c.dateDemande | date:'dd/MM/yyyy HH:mm' }}</td>
    </tr>
  </tbody>
</table>
