<div class="signup-container">
  <h2>Créer un compte employé</h2>
  
  <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
    <input type="text" formControlName="nom" placeholder="Nom">
    <input type="text" formControlName="prenom" placeholder="Prénom">
    <input type="email" formControlName="email" placeholder="Email">
    <input type="text" formControlName="poste" placeholder="Poste">
    <input type="password" formControlName="mot_de_passe" placeholder="Mot de passe">
    
    <button type="submit" [disabled]="!signupForm.valid">S'inscrire</button>
  </form>
  
  <p>Déjà un compte ? <a routerLink="/auth/login">Se connecter</a></p>
   
</div>